{% extends "TiendaRiver/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

<br>
<br>


    <div class="container">
    <h2 class="text-center text-dark">
        Acerca de mi:
    </h2>
        <div class="col">
            <div class="">
                <div class="text-center">
                    <p> <h4 style="color: #000000;font-family: Helvetica, sans-serif;">Hola! Mi nombre es Facundo Zavala, soy fanatico de River por como veran. Me encuentro actualmente trabajando como empleado administrativo en una obra social y mi aspiracion es crecer en el mundo de la programacion para lograr mis metas personales. Vivo en CABA, tengo 26 años y este es mi primer curso realizado en el ambito de la programacion.</p></h4>
                    <h6 style="color: #8a0707;font-family: Helvetica, sans-serif;">Espero que les haya gustado mi pagina web, la cual, fue elaborada con mucho esfuerzo, dedicacion y entusiasmo.</h6>
                    <h3 style="color: #8a0707;font-family: Helvetica, sans-serif;">¡Saludos hasta la proxima!</h3>
                    Contacto: <a href="https://github.com/Facuzavala"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://www.linkedin.com/in/facundo-zavala-058813236/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>      



{% endblock contenidoQueCambia %}